body{margin: 4vw;
     height: 100vh;
     background-image: url(fundo3.jpg);}
h1{text-align: center;
   color: azure;
margin: 20px;}
#botoes{display: flex;
justify-content: space-around;}
#button, #button2, #button3{
    font-size: larger;
    padding: 3px 18px;
    width: 27.2vw ;
    height: 50px;
    border-radius: 10px;}
    #confronto{
    height: 250px;
    width: 250px;
    image-resolution: 100%;
    margin: 0px 45px;
    }
    #resultado{
        color: azure;
        text-align: center;
        font-size: 40px;
        margin-top: 70px;
    }
    @media only screen and (min-width: 1025px) {
        body {margin: 0px 30px;
              height: 100vh}
        
        h1 {height: 15vh;
            font-size: 100px;
            margin-top: 0px}
            #resultado {
                margin-top: 0px;
                font-size: 90px;
            }  
        #botoes{ height: 200px;}
        #button, #button2, #button3{
                font-size: xx-large;
                width: 32,4% ;
                height: 50px;
                border-radius: 30px;}  
      }